<h1>New attendee for event <%= @event.name %></h1>

<%= form_for @attendee, :url => event_attendees_path(@event), :method => :post do |f| %>
    <%= render :partial => 'form' ,:locals => {:f => f} %>
<% end %>